/* Simple dashboard grid CSS */

/* Assign grid instructions to our parent grid container */
body {
	margin: 0;
	padding: 0;
	background-color: #17a2b8;
	height: 100vh;
  }
.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
    height: 100vh;
  }
  
  /* Give every child element its grid name */
  .header {
    grid-area: header;
    background-color: #0e2c41;
  }
  
  .sidenav {
    grid-area: sidenav;
    background-color: #1d121b;
  }
  
  .main {
    grid-area: main;
    background-color: #8fd4d9;
  }
  
  .footer {
    grid-area: footer;
    background-color: #0e2c41;
  }


/* table css below */

	/* copy pasted from html to here now */


	.main-header {
		display: flex;
		justify-content: space-between;
		margin: 20px;
		padding: 20px;
		height: 150px;
		/* Force our height since we don't have actual content yet */
		background-color: #e3e4e6;
		color: #17a2b8;
	}
	.sidenav {
		display: flex;
		/* Will be hidden on mobile */
		flex-direction: column;
		grid-area: sidenav;
		background-color: #394263;
	}

	.sidenav__list {
		padding: 0;
		margin-top: 85px;
		list-style-type: none;
	}

	.sidenav__list-item {
		padding: 20px 20px 20px 40px;
		color: #17a2b8;
		font-size: medium;
	}

	.sidenav__list-item:hover {
		background-color: rgba(255, 255, 255, 0.2);
		cursor: pointer;
	}
	.header,
	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 16px;
		background-color: #648ca6;
	}

	/* Below is card CSS */
	/* Float four columns side by side */
.column {
	float: left;
	width: 25%;
	padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
	
	/* display: table; */
	clear: both;
	display: flex;
	justify-content: center;
	flex-direction: row;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	  
	}
  }
  
  /* Style the counter cards */
  .cardx {
	 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	
	
	width: max-content;
	height: max-content;
	
	background-color: rgba(245, 245, 245, 0.4);



	
  }
  .containerx {
	  
	 
	display: flex;
	
	/* justify-content: center; */
	margin-top: 10%;
	 margin-left: 20%;
	margin-right:20% ;
	margin-bottom: 35%; 


	width: 70%;
	height: 70%;
	
	flex-direction: row;

  }
  /* .headercard {

	padding: 16px;
	text-align: center;
	fill-opacity: unset;
	opacity: 1;
  } */

	/* Above is Card CSS */


	/*other stuff within card CSS Start*/
	/*other stuff within card CSS End*/